#vts-underlay {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


#vts-overlay {
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#vts-content {
  position: relative;
  border: 1px solid #FF9419;
  background-color: #FEFCFA;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.75);
  padding: 10px;
}

#vts-content h2 {
  margin: 0 0 0.5em 0;
}

#vts-content section {
  display: flex;
  flex-direction: row;
  max-width: calc(640px + 25em);
}

#vts-player {
  flex: 0 0 640px;
  margin: auto;
}

div#vts-player {
  width: 640px;
  height: 400px;
}

#vts-chapters {
  max-height: calc(100vh - 2em);
  overflow-y: auto;
}

#vts-chapters ul {
  list-style: none;
  padding-left: 1em;
  margin: 0;
}

#vts-chapters li {
  padding: 0.4em 0.3em 0.4em 1.4em;
  border-bottom: 1px solid #bbbbbb;
  text-indent: -1.4em;
}

#vts-chapters li a, #vts-chapters li a:hover {
  text-decoration: none;
}

#vts-chapters li a:hover span {
  text-decoration: underline;
}

#vts-chapters li:last-child {
  border-bottom: none;
}

#vts-chapters li strong {
  padding: 0 0.2em 0.1em;
}

#vts-chapters li.active strong {
  background-color: #ff9419;
  color: white;
}

#vts-chapters li.active:hover strong {
  background-color: #cc6d00;
}

@media screen and (max-width: 959px) {
  #vts-content section {
    display: block;
  }

  #vts-chapters {
    max-width: 640px;
  }

  #vts-chapters ul {
    padding-left: 0;
  }

  #vts-chapters {
    max-height: calc(100vh - 400px - 2em);
  }
}

@media screen and (max-width: 639px) {
  #vts-player {
    max-width: 100%;
  }
}


/* animations */

#vts-container.invisible {
  visibility: hidden;
}

#vts-underlay {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.invisible > #vts-underlay {
  opacity: 0;
}

#vts-overlay {
  opacity: 1;
  transition: scale(1);
  transition: opacity 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.invisible > #vts-overlay {
  opacity: 0;
  transform: scale(0.8);
}


/* http://codepen.io/brissmyr/pen/egidw/ */
.vts-close {
  position: absolute;
  right: 9px;
  top: 9px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.vts-close:hover {
  opacity: 1;
}
.vts-close:before, .vts-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.vts-close:before {
  transform: rotate(45deg);
}
.vts-close:after {
  transform: rotate(-45deg);
}
